.venv/
data/
backend/db/backups/
storage/
user_db/
data_service/capstone-project/
data_service/minio-data/
data_service/minio-data/*
data_service/postgres-data/
data_service/hadoop-libs/
data_service/hadoop-libs/*
data_service/spark_apps/utils/__pycache__
data_service/spark_apps/.ipynb_checkpoints/
data_service/spark_apps/test_script.ipynb
backend/data_service/minio-data/